a.credits {
	font-size: 10px;
	line-height: 12px;
	font-family: verdana, arial;
	color: #666;
	text-decoration:none;
	text-align: right;
	border: none; display: inline;
background: none;
padding: 0px 0px 0px 0px;
}

a.credits:link		 {text-align: right;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px;}
a.credits:visited	 {text-align: right;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px; }
a.credits:hover	 {text-align: right;color:blue;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px; }
a.credits:active	 {text-align: right;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}

a.langa {
	font-size: 10px;
	line-height: 12px;
	font-family: verdana, arial;
	color: #666;
	text-decoration:none;
	text-align: left;
border: none; display: inline;
background: none;
padding: 0px 0px 0px 0px;
}

a.langa:link		 {text-align: left;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px;}
a.langa:visited	 {text-align: left;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}
a.langa:hover	 {text-align: left;color:blue;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}
a.langa:active	 {text-align: left;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}

.langsel {
	font-weight: bold; text-align: left; color:blue;	font-size: 10px; line-height: 12px;; 
}

.container {
	clear: both;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
 }

.langleft {
	text-align: left;
//     border: 1px solid #00F;
     width: 125px;
     height: auto;
     float: left;
//	position: relative;
	z-index: 110;	
	margin: 0px;
	padding: 0px;
}

.creditp {
	text-align: right;
//     border: 1px solid #F00;
     width: auto;
     height: auto;
//     float: right;
//     position: relative;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	padding-top: 12px;
}
