a.credits {
	text-align: right;
  font-size: 10px;
	line-height: 12px;
	font-family: verdana, arial;
	color: #666;
	text-decoration:none;
  border: none; display: inline;
  background: none;
  padding: 0px 0px 0px 0px;
}

a.credits:link {text-align: right;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px;}
a.credits:visited {text-align: right;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px; }
a.credits:hover {text-align: right;color:blue;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px; }
a.credits:active {text-align: right;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}

.ads {
  font-size: 10px;
  float: right;
  line-height: 12px;
  margin-top: 12px;
}

.ads a:link, .ads a:visited, .ads a:hover, .ads a:active {

  display: inline;
  background: none;
  padding: 5px;
  padding-left: 0px;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
//  border-bottom: 1px solid #CCC;
//  border-top: 1px solid #ccc;

}

a.langa {
	font-size: 10px;
	line-height: 12px;
	font-family: verdana, arial;
	color: #666;
	text-decoration:none;
	text-align: left;
  border: none; display: inline;
  background: none;
  padding: 0px 0px 0px 0px;
}

a.langa:link		 {text-align: left;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none;padding: 0px 0px 0px 0px;}
a.langa:visited	 {text-align: left;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}
a.langa:hover	 {text-align: left;color:blue;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}
a.langa:active	 {text-align: left;color:red;	font-size: 10px; line-height: 12px; text-decoration:none;border: none; display: inline;background: none; padding: 0px 0px 0px 0px;}

.langsel {
	font-weight: bold; text-align: left; color:blue;	font-size: 10px; line-height: 12px;; 
}

.container {
	clear: both;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
 }

.langleft {
	text-align: left;
     height: auto;
     float: left;
	z-index: 110;	
	margin: 0px;
	padding-top: 7px;
}

.creditp {
	text-align: right;
     width: auto;
     height: auto;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	padding-top: 12px;
}

.intro_section {
     font-size: 12px;
	line-height: 14px;
	padding-top: 10px;
}

